# 
# Python - Spark Connection (Python - Spark Bağlantısı)

In [1]:
!pip install findspark

Collecting findspark
  Downloading findspark-1.4.2-py2.py3-none-any.whl (4.2 kB)
Installing collected packages: findspark
Successfully installed findspark-1.4.2

In [2]:
import findspark as fs

fs.init("C:\spark")

In [3]:
from pyspark import SparkContext

#

# Configuration & Spark Connection (Konfigrasyon & Spark Bağlantısı)

In [18]:
from pyspark import SparkContext

sc = SparkContext(master = "local")
sc

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local) created by __init__ at <ipython-input-11-894e27366764>:6

In [19]:
sc.version

'3.1.2'

In [6]:
dir(sc)

['PACKAGE_EXTENSIONS',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accumulatorServer',
 '_active_spark_context',
 '_assert_on_driver',
 '_batchSize',
 '_callsite',
 '_checkpointFile',
 '_conf',
 '_dictToJavaMap',
 '_do_init',
 '_encryption_enabled',
 '_ensure_initialized',
 '_gateway',
 '_getJavaStorageLevel',
 '_initialize_context',
 '_javaAccumulator',
 '_jsc',
 '_jvm',
 '_lock',
 '_next_accum_id',
 '_pickled_broadcast_vars',
 '_python_includes',
 '_repr_html_',
 '_serialize_to_jvm',
 '_temp_dir',
 '_unbatched_serializer',
 'accumulator',
 'addFile',
 'addPyFile',
 'appName',
 'applicationId',
 'binaryFiles',
 'binaryRecords',
 'broadcast',
 'cancelAllJobs',
 'cancelJobGroup',
 'defaultMinPartitions',
 'defaultParallelism',
 'dump_profiles',
 'emptyRDD',
 'environment',
 'getCheckpointDir',
 'getConf',
 'getLocalProperty',
 'getOrCreate',
 'hadoopFile',
 'hadoopRDD',
 'master',
 'newAPIHadoopFile',
 'newAPIHadoopRDD',
 'parallelize',
 'pickleFile',
 'profiler_collector',
 'pythonExec',
 'pythonVer',
 'range',
 'resources',
 'runJob',
 'sequenceFile',
 'serializer',
 'setCheckpointDir',
 'setJobDescription',
 'setJobGroup',
 'setLocalProperty',
 'setLogLevel',
 'setSystemProperty',
 'show_profiles',
 'sparkHome',
 'sparkUser',
 'startTime',
 'statusTracker',
 'stop',
 'textFile',
 'uiWebUrl',
 'union',
 'version',
 'wholeTextFiles']

In [20]:
sc.sparkUser()

'Furkan'

In [21]:
sc.appName

'pyspark-shell'

In [27]:

sc.stop()     # Açılan herhangi bir sessionı kapatmak için kullanılır.

              # It is used to close any opened session.

#

In [4]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark import SparkContext

spark = SparkSession.builder.master("local").appName("pyspark_uygulama").config("spark.executer.memory","16gb").getOrCreate()

# config() boş bırakılırsa bilgisayar kendi donanımına göre ayarlar.

# If config() is left blank, the computer adjusts according to its own hardware.

sc = spark.sparkContext  # Dikkat küçük "s" ile kullanılır. --- Caution !, Used with a small "s".
sc

# 

# Basic DataFrame Operations (Temel DataFrame İşlemleri)

### - Every method in Pandas is not available in Spark.

### - Spark DataFrame operations are separate.

#  

### - Pandas içerisindeki her methot Spark içerisinde mevcut değildir.

### - Spark DataFrame işlemleri ayrıdır.

#

In [5]:
spark_df = spark.read.csv("diabetes.csv", header=True, inferSchema=True)

In [6]:
spark_df.printSchema()

root
 |-- Pregnancies: integer (nullable = true)
 |-- Glucose: integer (nullable = true)
 |-- BloodPressure: integer (nullable = true)
 |-- SkinThickness: integer (nullable = true)
 |-- Insulin: integer (nullable = true)
 |-- BMI: double (nullable = true)
 |-- DiabetesPedigreeFunction: double (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Outcome: integer (nullable = true)

#

In [7]:
type(spark_df)

pyspark.sql.dataframe.DataFrame

#

In [8]:
spark_df.cache()

DataFrame[Pregnancies: int, Glucose: int, BloodPressure: int, SkinThickness: int, Insulin: int, BMI: double, DiabetesPedigreeFunction: double, Age: int, Outcome: int]

#

In [9]:
spark_df.head()

Row(Pregnancies=6, Glucose=148, BloodPressure=72, SkinThickness=35, Insulin=0, BMI=33.6, DiabetesPedigreeFunction=0.627, Age=50, Outcome=1)

#

In [10]:
spark_df.dtypes

[('Pregnancies', 'int'),
 ('Glucose', 'int'),
 ('BloodPressure', 'int'),
 ('SkinThickness', 'int'),
 ('Insulin', 'int'),
 ('BMI', 'double'),
 ('DiabetesPedigreeFunction', 'double'),
 ('Age', 'int'),
 ('Outcome', 'int')]

#

In [17]:
spark_df.show()    # Veriyi Tablo Halinde Gösterme 
                   # Showing Data in Tables

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          6|    148|           72|           35|      0|33.6|                   0.627| 50|      1|
|          1|     85|           66|           29|      0|26.6|                   0.351| 31|      0|
|          8|    183|           64|            0|      0|23.3|                   0.672| 32|      1|
|          1|     89|           66|           23|     94|28.1|                   0.167| 21|      0|
|          0|    137|           40|           35|    168|43.1|                   2.288| 33|      1|
|          5|    116|           74|            0|      0|25.6|                   0.201| 30|      0|
|          3|     78|           50|           32|     88|31.0|                   0.248| 26|      1|
|         10|    115|            0|            0|      0|35.3|                   0.134| 29|      0|
|          2|    197|           70|           45|    543|30.5|                   0.158| 53|      1|
|          8|    125|           96|            0|      0| 0.0|                   0.232| 54|      1|
|          4|    110|           92|            0|      0|37.6|                   0.191| 30|      0|
|         10|    168|           74|            0|      0|38.0|                   0.537| 34|      1|
|         10|    139|           80|            0|      0|27.1|                   1.441| 57|      0|
|          1|    189|           60|           23|    846|30.1|                   0.398| 59|      1|
|          5|    166|           72|           19|    175|25.8|                   0.587| 51|      1|
|          7|    100|            0|            0|      0|30.0|                   0.484| 32|      1|
|          0|    118|           84|           47|    230|45.8|                   0.551| 31|      1|
|          7|    107|           74|            0|      0|29.6|                   0.254| 31|      1|
|          1|    103|           30|           38|     83|43.3|                   0.183| 33|      0|
|          1|    115|           70|           30|     96|34.6|                   0.529| 32|      1|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 20 rows

#

In [19]:
spark_df.show(5,truncate=True)

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          6|    148|           72|           35|      0|33.6|                   0.627| 50|      1|
|          1|     85|           66|           29|      0|26.6|                   0.351| 31|      0|
|          8|    183|           64|            0|      0|23.3|                   0.672| 32|      1|
|          1|     89|           66|           23|     94|28.1|                   0.167| 21|      0|
|          0|    137|           40|           35|    168|43.1|                   2.288| 33|      1|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 5 rows

#

In [21]:
spark_df.count()  # Sayıya Erişme
                  # Accessing Number

768

#

In [22]:
spark_df.columns

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

#

In [24]:
spark_df.describe().show()

+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------------+------------------+------------------+
|summary|       Pregnancies|          Glucose|     BloodPressure|     SkinThickness|           Insulin|               BMI|DiabetesPedigreeFunction|               Age|           Outcome|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------------+------------------+------------------+
|  count|               768|              768|               768|               768|               768|               768|                     768|               768|               768|
|   mean|3.8450520833333335|     120.89453125|       69.10546875|20.536458333333332| 79.79947916666667|31.992578124999977|      0.4718763020833327|33.240885416666664|0.3489583333333333|
| stddev|  3.36957806269887|31.97261819513622|19.355807170644777|15.952217567727642|115.24400235133803| 7.884160320375441|       0.331328595012775|11.760231540678689| 0.476951377242799|
|    min|                 0|                0|                 0|                 0|                 0|               0.0|                   0.078|                21|                 0|
|    max|                17|              199|               122|                99|               846|              67.1|                    2.42|                81|                 1|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------------+------------------+------------------+

#

In [26]:
spark_df.describe("Insulin")

DataFrame[summary: string, Insulin: string]

#

In [27]:
spark_df.describe("Insulin").show()

+-------+------------------+
|summary|           Insulin|
+-------+------------------+
|  count|               768|
|   mean| 79.79947916666667|
| stddev|115.24400235133803|
|    min|                 0|
|    max|               846|
+-------+------------------+

#

In [29]:
spark_df.select("Glucose","Pregnancies").show()

+-------+-----------+
|Glucose|Pregnancies|
+-------+-----------+
|    148|          6|
|     85|          1|
|    183|          8|
|     89|          1|
|    137|          0|
|    116|          5|
|     78|          3|
|    115|         10|
|    197|          2|
|    125|          8|
|    110|          4|
|    168|         10|
|    139|         10|
|    189|          1|
|    166|          5|
|    100|          7|
|    118|          0|
|    107|          7|
|    103|          1|
|    115|          1|
+-------+-----------+
only showing top 20 rows

#

In [32]:
spark_df.select("Glucose").distinct().count()       # Eşsiz değer gözlemlerden kaç tane olduğunu söyler.
                                                    # The unique value tells how many observations there are.

136

#

In [33]:
spark_df.select("Insulin").dropDuplicates().show()    # Sadece eşsiz olan gözlemleri alır, diğer değerleri siler.
                                                      # Gets only unique observations, deletes other values.

+-------+
|Insulin|
+-------+
|    148|
|    540|
|    392|
|     85|
|     65|
|     53|
|    255|
|     78|
|    321|
|    375|
|    155|
|    744|
|    108|
|    193|
|    115|
|    126|
|     81|
|    210|
|    183|
|    300|
+-------+
only showing top 20 rows

#

In [37]:
spark_df.crosstab("Outcome","Pregnancies").show()

+-------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|Outcome_Pregnancies|  0|  1| 10| 11| 12| 13| 14| 15| 17|  2|  3|  4|  5|  6|  7|  8|  9|
+-------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|                  1| 38| 29| 10|  7|  4|  5|  2|  1|  1| 19| 27| 23| 21| 16| 25| 22| 18|
|                  0| 73|106| 14|  4|  5|  5|  0|  0|  0| 84| 48| 45| 36| 34| 20| 16| 10|
+-------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+

#

In [38]:
spark_df.dropna().count()  # 768 adet veri zaten vardı !!! # Eksik gözlem bulunmamaktadır.
                           # 768 pieces of data already existed!!!   # There are no missing observations.

768

#

In [40]:
spark_df.dropna().show()   # Eksik verilerin atılması ile oluşturulan tablo

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          6|    148|           72|           35|      0|33.6|                   0.627| 50|      1|
|          1|     85|           66|           29|      0|26.6|                   0.351| 31|      0|
|          8|    183|           64|            0|      0|23.3|                   0.672| 32|      1|
|          1|     89|           66|           23|     94|28.1|                   0.167| 21|      0|
|          0|    137|           40|           35|    168|43.1|                   2.288| 33|      1|
|          5|    116|           74|            0|      0|25.6|                   0.201| 30|      0|
|          3|     78|           50|           32|     88|31.0|                   0.248| 26|      1|
|         10|    115|            0|            0|      0|35.3|                   0.134| 29|      0|
|          2|    197|           70|           45|    543|30.5|                   0.158| 53|      1|
|          8|    125|           96|            0|      0| 0.0|                   0.232| 54|      1|
|          4|    110|           92|            0|      0|37.6|                   0.191| 30|      0|
|         10|    168|           74|            0|      0|38.0|                   0.537| 34|      1|
|         10|    139|           80|            0|      0|27.1|                   1.441| 57|      0|
|          1|    189|           60|           23|    846|30.1|                   0.398| 59|      1|
|          5|    166|           72|           19|    175|25.8|                   0.587| 51|      1|
|          7|    100|            0|            0|      0|30.0|                   0.484| 32|      1|
|          0|    118|           84|           47|    230|45.8|                   0.551| 31|      1|
|          7|    107|           74|            0|      0|29.6|                   0.254| 31|      1|
|          1|    103|           30|           38|     83|43.3|                   0.183| 33|      0|
|          1|    115|           70|           30|     96|34.6|                   0.529| 32|      1|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 20 rows

#

In [41]:
spark_df.filter(spark_df.Age > 40).count()

194

In [42]:
spark_df.filter(spark_df.Age > 40).show()

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          6|    148|           72|           35|      0|33.6|                   0.627| 50|      1|
|          2|    197|           70|           45|    543|30.5|                   0.158| 53|      1|
|          8|    125|           96|            0|      0| 0.0|                   0.232| 54|      1|
|         10|    139|           80|            0|      0|27.1|                   1.441| 57|      0|
|          1|    189|           60|           23|    846|30.1|                   0.398| 59|      1|
|          5|    166|           72|           19|    175|25.8|                   0.587| 51|      1|
|          8|     99|           84|            0|      0|35.4|                   0.388| 50|      0|
|          7|    196|           90|            0|      0|39.8|                   0.451| 41|      1|
|         11|    143|           94|           33|    146|36.6|                   0.254| 51|      1|
|         10|    125|           70|           26|    115|31.1|                   0.205| 41|      1|
|          7|    147|           76|            0|      0|39.4|                   0.257| 43|      1|
|         13|    145|           82|           19|    110|22.2|                   0.245| 57|      0|
|          5|    109|           75|           26|      0|36.0|                   0.546| 60|      0|
|         10|    122|           78|           31|      0|27.6|                   0.512| 45|      0|
|          9|    102|           76|           37|      0|32.9|                   0.665| 46|      1|
|          4|    111|           72|           47|    207|37.1|                    1.39| 56|      1|
|          7|    106|           92|           18|      0|22.7|                   0.235| 48|      0|
|          9|    171|          110|           24|    240|45.4|                   0.721| 54|      1|
|          8|    176|           90|           34|    300|33.7|                   0.467| 58|      1|
|          7|    150|           66|           42|    342|34.7|                   0.718| 42|      0|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 20 rows

#

In [44]:
spark_df.groupby("Outcome").count().show()      # Groupby ve Aggregration fonksiyonları
                                                # Groupby and Aggregation functions

+-------+-----+
|Outcome|count|
+-------+-----+
|      1|  268|
|      0|  500|
+-------+-----+

In [45]:
spark_df.groupby("Outcome").agg({"Glucose": "mean"}).show()

+-------+------------------+
|Outcome|      avg(Glucose)|
+-------+------------------+
|      1|141.25746268656715|
|      0|            109.98|
+-------+------------------+

#

In [46]:
spark_df.withColumn("yenideğişken", spark_df.Insulin * 2).select("Insulin","yenideğişken").show()     # Yeni Değişken Ekleme
                                                                                                      # Adding New Variable

+-------+------------+
|Insulin|yenideğişken|
+-------+------------+
|      0|           0|
|      0|           0|
|      0|           0|
|     94|         188|
|    168|         336|
|      0|           0|
|     88|         176|
|      0|           0|
|    543|        1086|
|      0|           0|
|      0|           0|
|      0|           0|
|      0|           0|
|    846|        1692|
|    175|         350|
|      0|           0|
|    230|         460|
|      0|           0|
|     83|         166|
|     96|         192|
+-------+------------+
only showing top 20 rows

In [48]:
spark_df.withColumnRenamed("Outcome","Result").show()  # Değişken Adı Değiştirme --- Outcome yerine Result yazdık.
                                                       # Changing Variable Name --- We wrote Result instead of Outcome.

+-----------+-------+-------------+-------------+-------+----+------------------------+---+------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Result|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+------+
|          6|    148|           72|           35|      0|33.6|                   0.627| 50|     1|
|          1|     85|           66|           29|      0|26.6|                   0.351| 31|     0|
|          8|    183|           64|            0|      0|23.3|                   0.672| 32|     1|
|          1|     89|           66|           23|     94|28.1|                   0.167| 21|     0|
|          0|    137|           40|           35|    168|43.1|                   2.288| 33|     1|
|          5|    116|           74|            0|      0|25.6|                   0.201| 30|     0|
|          3|     78|           50|           32|     88|31.0|                   0.248| 26|     1|
|         10|    115|            0|            0|      0|35.3|                   0.134| 29|     0|
|          2|    197|           70|           45|    543|30.5|                   0.158| 53|     1|
|          8|    125|           96|            0|      0| 0.0|                   0.232| 54|     1|
|          4|    110|           92|            0|      0|37.6|                   0.191| 30|     0|
|         10|    168|           74|            0|      0|38.0|                   0.537| 34|     1|
|         10|    139|           80|            0|      0|27.1|                   1.441| 57|     0|
|          1|    189|           60|           23|    846|30.1|                   0.398| 59|     1|
|          5|    166|           72|           19|    175|25.8|                   0.587| 51|     1|
|          7|    100|            0|            0|      0|30.0|                   0.484| 32|     1|
|          0|    118|           84|           47|    230|45.8|                   0.551| 31|     1|
|          7|    107|           74|            0|      0|29.6|                   0.254| 31|     1|
|          1|    103|           30|           38|     83|43.3|                   0.183| 33|     0|
|          1|    115|           70|           30|     96|34.6|                   0.529| 32|     1|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+------+
only showing top 20 rows

#

In [49]:
spark_df.show(5)   # Değişken Silmek İçin: 
                   # To Delete a Variable:

+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
|          6|    148|           72|           35|      0|33.6|                   0.627| 50|      1|
|          1|     85|           66|           29|      0|26.6|                   0.351| 31|      0|
|          8|    183|           64|            0|      0|23.3|                   0.672| 32|      1|
|          1|     89|           66|           23|     94|28.1|                   0.167| 21|      0|
|          0|    137|           40|           35|    168|43.1|                   2.288| 33|      1|
+-----------+-------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 5 rows

In [50]:
spark_df.drop("Glucose").show(5)   # Glucose değişkeni silindi.
                                   # Glucose variable deleted.

+-----------+-------------+-------------+-------+----+------------------------+---+-------+
|Pregnancies|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------------+-------------+-------+----+------------------------+---+-------+
|          6|           72|           35|      0|33.6|                   0.627| 50|      1|
|          1|           66|           29|      0|26.6|                   0.351| 31|      0|
|          8|           64|            0|      0|23.3|                   0.672| 32|      1|
|          1|           66|           23|     94|28.1|                   0.167| 21|      0|
|          0|           40|           35|    168|43.1|                   2.288| 33|      1|
+-----------+-------------+-------------+-------+----+------------------------+---+-------+
only showing top 5 rows

#


### Bu gerçekleştirilen işlemler hafızada olmayıp RRD aracılığı ile RAM üzerinde gerçekleştirdiğimiz işlemlerdir (Yani hafızaya kaydedilmeyen işlemler).  Bu yüzden Pandasta kullanılan bazı methotlar kullanılamamaktaydı. 

### RAM üzerinde yani PySpark işlemleri yapılırken sanki Pandas üzerinde işlem yapıyormuş gibi yapabilmek için "toPandas()" fonksiyonu kullanılır.

#   

### These performed operations are not in memory, but they are operations that we perform on RAM via RRD (i.e. operations that are not stored in memory). Therefore, some methods used in Pandas could not be used.

### When performing PySpark operations on RAM, the "toPandas()" function is used to act as if it were operating on Pandas.

#

In [51]:
likepandas = spark_df.groupby("Outcome").count().toPandas()

In [52]:
likepandas

   Outcome  count
0        1    268
1        0    500

In [54]:
likepandas.iloc[0:1,0:1]

   Outcome
0        1

In [55]:
likepandas.iloc[0:1,1]

0    268
Name: count, dtype: int64

#

In [61]:
likepandas2 = spark_df.select("Glucose","Pregnancies").toPandas()
likepandas2

     Glucose  Pregnancies
0        148            6
1         85            1
2        183            8
3         89            1
4        137            0
..       ...          ...
763      101           10
764      122            2
765      121            5
766      126            1
767       93            1

[768 rows x 2 columns]

In [62]:
likepandas2[:5]

   Glucose  Pregnancies
0      148            6
1       85            1
2      183            8
3       89            1
4      137            0