# 
# MySQL Transactions - (MySQL İşlemleri)

In [16]:
import findspark as fs

fs.init("C:\spark")

#

In [17]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark import SparkContext

spark = SparkSession.builder.master("local").appName("SQL").config("spark.executer.memory","16gb").getOrCreate()

spark_context = spark.sparkContext

spark_context

In [18]:
sp_df = spark.read.csv("winequality.csv", header=True, inferSchema=True)
sp_df

DataFrame[fixed acidity: double, volatile acidity: double, citric acid: double, residual sugar: double, chlorides: double, free sulfur dioxide: double, total sulfur dioxide: double, density: double, pH: double, sulphates: double, alcohol: double, quality: int]

In [19]:
sp_df = sp_df.select("fixed acidity","volatile acidity","sulphates","total sulfur dioxide")
sp_df.show()

+-------------+----------------+---------+--------------------+
|fixed acidity|volatile acidity|sulphates|total sulfur dioxide|
+-------------+----------------+---------+--------------------+
|          7.4|             0.7|     0.56|                34.0|
|          7.8|            0.88|     0.68|                67.0|
|          7.8|            0.76|     0.65|                54.0|
|         11.2|            0.28|     0.58|                60.0|
|          7.4|             0.7|     0.56|                34.0|
|          7.4|            0.66|     0.56|                40.0|
|          7.9|             0.6|     0.46|                59.0|
|          7.3|            0.65|     0.47|                21.0|
|          7.8|            0.58|     0.57|                18.0|
|          7.5|             0.5|      0.8|               102.0|
|          6.7|            0.58|     0.54|                65.0|
|          7.5|             0.5|      0.8|               102.0|
|          5.6|           0.615|     0.52|                59.0|
|          7.8|            0.61|     1.56|                29.0|
|          8.9|            0.62|     0.88|               145.0|
|          8.9|            0.62|     0.93|               148.0|
|          8.5|            0.28|     0.75|               103.0|
|          8.1|            0.56|     1.28|                56.0|
|          7.4|            0.59|      0.5|                29.0|
|          7.9|            0.32|     1.08|                56.0|
+-------------+----------------+---------+--------------------+
only showing top 20 rows

In [29]:
sp_df.registerTempTable("veri_db")       # Verileri veritabanına kaydediyoruz.
                                         # We save the data to the database.

In [30]:
spark.sql("show databases").show()     # Veritabanlarını göstermek için "sql" methodunu kullanıyoruz.
                                       # # We use the "sql" method to show databases.

+---------+
|namespace|
+---------+
|  default|
+---------+

In [31]:
spark.sql("show tables").show()   # Tablolar görüntüleniyor.
                                  # Tables are displayed.

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
|        |             veri_db|       true|
|        |veri_tablosu_veri...|       true|
+--------+--------------------+-----------+

In [37]:
spark.sql("Select sulphates from veri_db").show()

+---------+
|sulphates|
+---------+
|     0.56|
|     0.68|
|     0.65|
|     0.58|
|     0.56|
|     0.56|
|     0.46|
|     0.47|
|     0.57|
|      0.8|
|     0.54|
|      0.8|
|     0.52|
|     1.56|
|     0.88|
|     0.93|
|     0.75|
|     1.28|
|      0.5|
|     1.08|
+---------+
only showing top 20 rows

In [ ]:
spark.sql("Select X (2 sınıflı değişken(2-class variable or more)), mean(sulphates) from veri_db group by X")   

# Eğer groupby methodunu çalıştırılacaksa bu yaklaşımda sql komutu oluşturulur.

# If the groupby method is to be run, the sql command is created in this approach.